.bigbackground{
    padding: 5px;
    width: 5em;
    list-style-type:none;
    font-size: 25px;
    line-height: 50px;
    animation-name: backgroundanime;
    animation-duration: 0.5s;
    z-index: 1;
}
@keyframes  backgroundanime{
    from {
        width: 0em;}
    to {
        width: 5em;} 
}
.bigToSmall{
    position: absolute;
    animation-name: bigToSmallAnime;
    animation-duration: 0.5s;
}
@keyframes bigToSmallAnime{
    from {left:5em}
    to {left: 8px}
}
.smallbackground{
    padding: 5px;
    width: 5em;
    list-style-type:none;
    font-size: 22px;
    line-height: 50px;
    text-align: left;
    animation-name: smallBackgroundanime;
    animation-duration: 0.5s;
    animation-direction:alternate;
}
@keyframes  smallBackgroundanime{
    from {
        width: 0em;}
    to {
        width: 5em;} 
}
.smallFontStyle{
    position: relative;
    left: 6px;
    animation: smallFontAnime;
    animation-duration: 0.5s;
}
@keyframes smallFontAnime{
    0% {font-size:0px;}
    50% {font-size:0px;}
    100% {font-size: 22px;}
}

.showStyle{
    position: relative;
    left:5px;
    font-weight: 400;
}
.showStyle:hover{
    animation-name: showAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes showAnime{
    from {left: 5px;}
    to {left:15px;}
}
.submenuBackground{
    height:2em;
    text-align: center;
    animation-name: submanuAnime;
    animation-duration: 0.5s;
}
@keyframes submanuAnime{
    from {height: 0px;}
    to {height: 2em;}
}


